
<div class="background">
     <div class= "container">
{{#each messages}}
<div class="alert alert-danger">{{this}}</div>
{{/each}}
{{# each products}}
    <div class="row">
        {{# each this}}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img class="" src="{{this.image}}" alt="...">
                    <div class="caption">
                        <h3>{{this.title}}</h3>
                        <p>{{this.description}}</p>
                        <div class="clearfix">
                            <div class="pull-left"><strong>{{this.price}}đ</strong></div>
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}
 <footer class="backgroundabout">

            <div class="row">
                <div class="col-md-3">
                    <h5>About</h5>
                    <p>Trang bán đồ ăn trực tuyến của đại học bách khoa TPHCM</p>
                </div>
                <div class="col-md-3">
                    <h5>Links</h5>
                    <ul>
                        <li>
                            <a href="#" >About</a>
                        </li>
                        <li>
                            <a href="#" >Contact Us</a>
                        </li>
                        <li>
                            <a href="#" >FAQ</a>
                        </li>
                        <li>
                            <a href="#" >How it Works</a>
                        </li>
                        <li>
                            <a href="#" >Terms</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                     <h5>Contact</h5>
                     <ul>
                         <li>
                            <a href="tel:+620892738334"><i class="fa fa-phone"></i> 0778540117</a>
                        </li>
                        <li>
                            <a href="mailto:hello@domain.com"><i class="fa fa-envelope"></i> abc@gmail.com</a>
                         </li>
                     </ul>
                </div>
                <div class="col-md-3">
                <h5>Follow Us</h5>
                     <ul class="social">
                         <li>
                            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                         </li>
                         <li>
                            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                         </li>
                         <li>
                            <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                         </li>
                     </ul>
                </div>
                
            </div>
     
    </footer>
    </div>
    </div>