 <div class= "container">
{{#if products}}
<div class="row">
    <div class="col-sm-6 col-md- col-md-offset-3 col-sm-offet-3">
        <ul class="list-group">
            {{# each products}}
            <li class="list-group-item">
                <span class="badge">{{this.qty}}</span>
                <img src="{{this.item.image}}" width="200" height="200">
                <strong>{{this.item.title}}</strong>
                <span class="label label-success">{{this.price}}</span>
                <div class="btn-group">
                    <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="/add/{{this.item._id}}">Increase by 1</a></li>
                        <li><a href="/reduce/{{this.item._id}}">Reduce by 1</a></li>
                        <li><a href="/remove/{{this.item._id}}">Remove All</a></li>
                    </ul>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md- col-md-offset-3 col-sm-offet-3">
        <strong>Total Price: ${{totalPrice}}</strong>
    </div>
</div>
{{#if login}}
<h1>Checkout:</h1>
<form class="pp" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="upload" value="1">
<input type="hidden" name="business" value="thinpro2k@gmail.com">
{{#each products}}
<input type="hidden" name="item_name_{{counter @index}}" value="{{this.item.title}}">
<input type="hidden" name="amount_{{counter @index}}" value="{{this.item.price}}">
<input type="hidden" name="quantity_{{counter @index}}" value="{{this.qty}}">
{{/each}}
<input type="hidden" name="current_code" value="USD">
<input type="hidden" name="amount" value="{{totalPrice}}">
<input type="submit" value="PayPal" class="btn btn-primary">
</form>
<br>
<a href='/checkout' class="btn btn-primary" role="button">Pay at shop</a>
{{else}}
 <h2>Please login to checkout</h2>
{{/if}}
{{else}}
<div class="backgroundcart">
<div class="row">
    <div class="col-sm-6 col-md- col-md-offset-3 col-sm-offet-3">
        <h2>No item in the cart</h2>
    </div>
</div>
</div>
{{/if}}
</div>

